<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <deity>
            <general>
                <api_version>2.0.0</api_version>
            </general>
        </deity>
    </default>
</config>
