<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Deity\CustomerApi\Api\AddressRepositoryInterface" type="Deity\Customer\Model\AddressRepository" />
    <preference for="Deity\CustomerApi\Api\NewsletterManagerInterface" type="Deity\Customer\Model\NewsletterManager" />
</config>
