<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Deity\QuoteApi\Api\CartManagementInterface" type="Deity\Quote\Model\CartManagement" />
    <preference for="Deity\QuoteApi\Api\GuestCartManagementInterface" type="Deity\Quote\Model\GuestCartManagement" />
    <preference for="Deity\QuoteApi\Api\Data\OrderResponseInterface" type="Deity\Quote\Model\Data\OrderResponse" />
    <preference for="Deity\QuoteApi\Api\CreateCustomerCartInterface" type="Deity\Quote\Model\CreateCustomerCart" />
</config>